/* Global */
*, body {
  margin: 0;
  padding: 0;
}

/* Utilities */
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

/* User Index */
.user_index {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user_item {
  align-items: center;
  padding: 10px 0;
}

.item_photo {
  width: 20%;
}

.item_info {
  min-width: 80%;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

/* User Show */
.user_posts {
  list-style: none;
  margin: 0;
  padding-top: 10px;
}

.buttons {
  justify-content: space-evenly;
  padding: 10px 0;
  text-decoration: none;
}

.button_edit {
  background-color: white;
  border: solid 1px black;
  padding: 5px 10px;
  font-size: 16px;
}

.button_p {
  text-decoration: none;
  color: black;
}
